body {
  font-family: Arial Helveltica, sans-serif;
  background-color: rgb(49, 51, 65);
  color: white;
}

button {
  float: left;
}

textarea {
  width: 100%;
}

.column { 
  width: 50%;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}